.user-workExps-box {
  border: 2px solid lightgrey;
}

.user-workExps {
  padding: 3px;
  max-height: 750px;
  overflow:hidden;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.user-workExps-sub {
  margin: 0;
  padding: 6px;
  font-size: 24px;
  color: white;
  background-color: #70e000;
}

.user-title, .user-period {
  display: flex;
  font-size: 16px;
  font-weight: 600;
}

.user-jobtitle, .user-duration {
  width: 40%;
}

.user-workExp {
  max-height: 400px;
  border: 1px solid lightgrey;
  margin-bottom: 12px;
  padding: 3px;
}

.user-description {
  max-height: 200px;
  border-top: 2px solid lightgrey;
  overflow:hidden;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.user-workExp .user-description p, .user-workExp .user-description li {
  font-size: 16px;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}